
@{
    ViewBag.Title = "dualchart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/highstock.js"></script>
<script src="~/Scripts/exporting.js"></script>

<h2>dualchart</h2>

<div id="container" style="height: 400px; min-width: 310px"></div>
<div><span id="debugjson"></span></div>
<div><span id="debug"></span></div>
<div><span id="datedisplay"></span></div>

<script>
    $(function () {
        // First load Top Level Data


        // Load Chart data for current data
        $.getJSON('http://localhost:60770/api/ProfileData/ProfileStats/1', function (data) {
            document.getElementById("debug").innerText = data;            
            document.getElementById("datedisplay").innerText = Date.UTC(2011, 3, 25);
            // split the data set into ohlc and volume
            var ohlc = [],
                volume = [],
                dataLength = data.length,
                // set the allowed units for data grouping
                groupingUnits = [[
                    'week',                         // unit name
                    [1]                             // allowed multiples
                ], [
                    'month',
                    [1, 2, 3, 4, 6]
                ]],

                i = 0;

            for (i; i < dataLength; i += 1) {
                ohlc.push([
                    data[i][0], // the date
                    data[i][1], // open
                    data[i][2], // high
                    data[i][3], // low
                    data[i][4] // close
                ]);

                volume.push([
                    data[i][0], // the date
                    data[i][5] // the volume
                ]);
            }


            // create the chart
            $('#container').highcharts('StockChart', {

                rangeSelector: {
                    selected: 1
                },

                title: {
                    text: 'AAPL Historical'
                },

                yAxis: [{
                    labels: {
                        align: 'right',
                        x: -3
                    },
                    title: {
                        text: 'OHLC'
                    },
                    height: '60%',
                    lineWidth: 2
                }, {
                    labels: {
                        align: 'right',
                        x: -3
                    },
                    title: {
                        text: 'Volume'
                    },
                    top: '65%',
                    height: '35%',
                    offset: 0,
                    lineWidth: 2
                }],

                series: [{
                    name: 'AAPL',
                    data: ohlc,
                    dataGrouping: {
                        units: groupingUnits
                    }
                }, {
                    type: 'column',
                    name: 'Volume',
                    data: volume,
                    yAxis: 1,
                    dataGrouping: {
                        units: groupingUnits
                    }
                }]
            });
        });
    });
</script>
